.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-buttons > button {
  margin: 5px;
  padding: 5px;
  background-color: #f0f0f0;
  border-color: lightgray;
  color: black;
}

.header-buttons > select {
  width: 10%;
  height: 10%;
}

.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li > ul > li > i {
  padding-right: 5px;
}

.wd-modules > li > ul > li > a > i {
  padding: 0px 5px 0px 5px;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
}

.wd-modules-form > .add-module > .btn {
  margin: 5px;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
}

.add-module {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add {
  background-color: green;
  border-radius: green;
}

.edit-delete-module > .btn {
  margin: 0px 5px 0px 5px;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
}

.delete {
  background-color: red;
  border-radius: red;
}

.module-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* a:link {
  color: red;
  text-decoration: none;
}
a:visited {
  color: red;
  text-decoration: none;
}
a:hover {
  color: darkred;
  text-decoration: none;
}
a:active {
  color: red;
  text-decoration: none;
} */
